<div class="container-fluid pt-2">
  <div class="row">
    <div class="col-md-9 mb-4">
      <div class="card">
        <div class="card-header">
          Alertas en Vivo
        </div>
        <div class="card-body">
          <agm-map [zoom]="zoom" [latitude]="latitude" [longitude]="longitude" style="height: 400px" (mapClick)="placeMarker($event)">
          <!-- <agm-map [zoom]="zoom" [latitude]="latitude" [longitude]="longitude" style="height: 400px" (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"> -->
            <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude" (markerClick)="frame.show();isLocation();"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header text-center">
            Estadisticas de Emergencias y Alertas
          </div>
          <div class="card-body">
              <div style="display: block">
                  <canvas mdbChart
                      [chartType]="chartType"
                      [datasets]="chartDatasets"
                      [labels]="chartLabels"
                      [colors]="chartColors"
                      [options]="chartOptions"
                      [legend]="true"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                  </canvas>
              </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-md-3 mb-4">  
      <div class="card">
        <div class="card-header text-center">
          Ultimas Emergencias
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <!-- Table head -->
                <thead class="blue-grey lighten-4">
                  <tr>
                    <th>#</th>
                    <th>Lorem</th>
                    <th>Ipsum</th>
                    <th>Dolor</th>
                  </tr>
                </thead>
                <!-- Table head -->

                <!-- Table body -->
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 3</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                    <td>Cell 6</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                  </tr>
                </tbody>
                <!-- Table body -->
              </table>
        </div>
      </div>
    </div>
</div>

<button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Launch Modal</button>


  <!-- Modal -->
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        
         
        <span class="heading lead"><i class="fas fa-exclamation-triangle fa-fw"></i> Alerta enviada</span>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
          <div class="list-group">
              <a href="#" class="list-group-item disabled waves-light" mdbWavesEffect>Fecha:</a>
              <a href="#" class="list-group-item disabled waves-light" mdbWavesEffect>Descripción:</a>
              <a href="#" class="list-group-item disabled waves-light" mdbWavesEffect>Informante:</a>
              <a href="#" class="list-group-item disabled waves-light" mdbWavesEffect>Atención:</a>
              <a href="#" class="list-group-item disabled waves-light" mdbWavesEffect>Ubicado en:</a>
            </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="warning" class="waves-effect" mdbWavesEffect>Ir a Detalle
          <!-- <i class="far fa-gem ml-1"></i> -->
        </a>
        <a type="button" mdbBtn color="warning" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">Cerrar</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>