/* You can add global styles to this file, and also import other style files */
.sidenav {
  position: absolute;
  top: 100%;
  height: calc(100vh - 100%) !important;
  left: 0%;
  width: 100%;
  transition: left 0.35s;
  padding: 2rem;
  background-color: inherit;
}

.sidenav:not(.show) {
  left: -100%;
}